@{
    ViewData["Title"] = "Quadrants";
}

@model List<Project_1.Models.Task>

<div class="container text-center">
    <div class="row mt-3">
        <div class="col d-flex align-items-stretch">
            <div class="card pt-2 w-100 shadow">
                <div class="card-body">
                    <h2 class="card-title">Quadrant 1</h2>
                    <h5 class="card-subtitle text-muted mb-3">Important / Urgent</h5>
                    @foreach (var toDo in Model)
                    {
                        @if (toDo.Quadrant == 1)
                        {
                            <div class="card py-3">
                                <div class="row">
                                    <div class="col-3">
                                        <p>@toDo.DueDate</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="card-title">@toDo.TaskName</h5>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@toDo.TaskId">Edit</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>For @toDo.Category.CategoryName</p>
                                    </div>
                                    <div class="col-6">
                                        @if (toDo.Completed)
                                        {
                                            <p class="bg-success text-white rounded" style="opacity: 0.75">Completed</p>
                                        }
                                        else
                                        {
                                            <p class="bg-secondary text-white rounded" style="opacity: 0.75">Incomplete</p>
                                        }
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@toDo.TaskId">Delete</a>
                                    </div>
                                </div>
                            </div>
                           }
                      }
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card pt-2 w-100 shadow">
                <div class="card-body">
                    <h2 class="card-title">Quadrant 2</h2>
                    <h5 class="card-subtitle text-muted mb-3">Important / Not Urgent</h5>
                    @foreach (var toDo in Model)
                    {
                        @if (toDo.Quadrant == 2)
                        {
                            <div class="card py-3">
                                <div class="row">
                                    <div class="col-3">
                                        <p>@toDo.DueDate</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="card-title">@toDo.TaskName</h5>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@toDo.TaskId">Edit</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>For @toDo.Category.CategoryName</p>
                                    </div>
                                    <div class="col-6">
                                        @if (toDo.Completed)
                                        {
                                            <p class="bg-success text-white rounded" style="opacity: 0.75">Completed</p>
                                        }
                                        else
                                        {
                                            <p class="bg-secondary text-white rounded" style="opacity: 0.75">Incomplete</p>
                                        }
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@toDo.TaskId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-flex align-items-stretch">
            <div class="card pt-2 w-100 shadow">
                <div class="card-body">
                    <h2 class="card-title">Quadrant 3</h2>
                    <h5 class="card-subtitle text-muted mb-3">Not Important / Urgent</h5>
                    @foreach (var toDo in Model)
                    {
                        @if (toDo.Quadrant == 3)
                        {
                            <div class="card py-3">
                                <div class="row">
                                    <div class="col-3">
                                        <p>@toDo.DueDate</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="card-title">@toDo.TaskName</h5>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@toDo.TaskId">Edit</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>For @toDo.Category.CategoryName</p>
                                    </div>
                                    <div class="col-6">
                                        @if (toDo.Completed)
                                        {
                                            <p class="bg-success text-white rounded" style="opacity: 0.75">Completed</p>
                                        }
                                        else
                                        {
                                            <p class="bg-secondary text-white rounded" style="opacity: 0.75">Incomplete</p>
                                        }
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@toDo.TaskId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card pt-2 w-100 shadow">
                <div class="card-body">
                    <h2 class="card-title">Quadrant 4</h2>
                    <h5 class="card-subtitle text-muted mb-3">Not Important / Not Urgent</h5>
                    @foreach (var toDo in Model)
                    {
                        @if (toDo.Quadrant == 4)
                        {
                            <div class="card py-3">
                                <div class="row">
                                    <div class="col-3">
                                        <p>@toDo.DueDate</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="card-title">@toDo.TaskName</h5>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@toDo.TaskId">Edit</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>For @toDo.Category.CategoryName</p>
                                    </div>
                                    <div class="col-6">
                                        @if (toDo.Completed)
                                        {
                                            <p class="bg-success text-white rounded" style="opacity: 0.75">Completed</p>
                                        }
                                        else
                                        {
                                            <p class="bg-secondary text-white rounded" style="opacity: 0.75">Incomplete</p>
                                        }
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@toDo.TaskId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
